
*{

	font-family: 'The Nautigal', cursive;
	font-weight: 100;
	font-size: 40px;
}

.uno{
	margin: 50px auto;
	width: 320px;
	height: 350px;
	border: 4px solid grey;
	background-color: red;
	overflow: auto;
}


.dos{
	margin: 50px auto;
	width: 320px;
	height: 350px;
	border: 4px solid grey;
	background-color: red;
	overflow-y: scroll;
}




.contenedor_imagen{
	margin: 50px auto;
	width: 320px;
	height: 350px;
	border: 4px solid grey;
	background-color: red;
	overflow: hidden;
}

.contenedor_imagen img{
	outline: 2px solid orange;
	position: relative;
	top:  260px;
	left: 240px;
	transition: all 1.2s;
}

.contenedor_imagen:hover > img{
	position: relative;
	top:0;
	left: 0;
}