*{
	margin:0;
	padding: 0;
}




.cerrar{
	position: absolute;
	left: 95vw;
	top: 0vh;
	width: 20px;
	height: 20px;
	margin:10px;
	background-color: blue;
	border-radius: 5px;
	text-align: center;
	color:white;
	font-size: 18px;
}


.barra{
	width: 10%;
	height: 100vh;
	background: lightblue;
	display: inline-block;
	overflow: scroll;
	transition: width 0.3s;

}

.barra.cerrado{
	width: 3%;

}


	.cabecera{
		height: 20%;
		background: blue;
		padding-top: 5px;
		text-align: center;
		border: 2px solid darkgray;
		box-sizing: border-box;
	}

		.cabecera img{
			display: inline-block;
			margin:0;
		}


	.menu{
		height: 80%;
		background: blue;
		border: 2px solid gray;
		box-sizing: border-box;
		text-align: center;
	}

			.opcion1{
				position: relative;
				background-color: lightblue;

			}.opcion1.abierto:active .opcion1AbiertoSubmenu{
				height: 60px;
				display: block;

			}.opcion1.cerrado:hover .opcion1CerradoSubmenu{
				display: block;
			}
				.opcion1AbiertoSubmenu{
						height: 0;
						width: 100%;
						background-color: darkgray;
						overflow: hidden;
						transition: height 0.5s;
				}
				.opcion1CerradoSubmenu{
					/*display: none;*/
					position: absolute;
					left:100%;
					top: -20%;
					height: 60px;
					width: 100px;
					border-radius: 10px;
					background-color: darkgray;
				}



.contenido{
	width: 89%;
	height: 100vh;
	background: gray;
	display: inline-block;
	overflow: scroll;
	transition: width 0.3s;

}

.contenidoDesplegado{
	width: 96%;

}









.parrafo1{
	background: lightgray;

}

.parrafo2{
	background: lightblue;

}




