
*{

	padding: 0;
	margin: 0;
}








.nav{
	background-color: #48e;
}

.nav__li{
	display: inline-block;
	padding: 12px;
	color: white;
}


.nav__li:hover{
	color: #bbb;
}


.nav__li:hover a{
	color: #bbb;
}


.nav__li > a{
	color: white;
	text-decoration:none;
}


.nav__li i{
	width: 30px;
	box-sizing: border-box;
	text-align: right;
	margin-right: 5px;
}









/*ETIQUETAS RESPONSIVE------------------------------------------------*/
.nav__responsive-ul{
	display: none;
}

.nav__responsive-button{
	float: right;
	font-size: 25px;
	padding: 6px 20px;
}



@media only screen and (max-width: 500px){
	.nav__ul{
		display: none;
	}

	.nav{
		height: 37px;
		width: 100%;
		background-color: #69c;
	}

	.nav__responsive-ul{
		display: block;
		position: absolute;
		width: 100%;
		background-color: #7af;
		height: 100%;
		margin-top: 37px;
	}

	.nav__responsive-li{
		width: 100%;
		padding: 9px 20px;
	}

	.nav__responsive-li i{
		width: 30px;
		box-sizing: border-box;
		text-align: center;
		margin-right: 5px;
		color:#028;
	}

	.nav__responsive-li a{
		text-decoration: none;
		color:#028;
	}

}

























































































































