.cajaContenedora{
    position: relative;
    width: 400px;

    margin: 20px auto; /* centra horizontal */
    border: 1px solid #ccc;      /* borde de 1px */
}



.cajaContenedora .marca {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.2);
}


.cajaContenedora .marca-vertical {
  top: 50%;                  /* EXACTAMENTE a la mitad vertical */
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%); /* Corrige el punto de referencia */
}


.cajaContenedora .marca-horizontal{
  top: 0;                  /* EXACTAMENTE a la mitad vertical */
  left:  50%;
  height: 100%;
  width: 2px;
}














.cajaElemento{
    width: 200px;

    margin: 10px;
    border: 10px solid black;
    padding-top: 20px;

}



.caja1{
    background-color: tomato;
}


.caja2{
    background-color: aquamarine;
    box-sizing: border-box;

}

.caja3{
    width: 200px;

    box-sizing: border-box;
    margin: 0px;
    margin-bottom: 10px;
    border: 10px solid black;
    padding: 50px;

    background-color: mediumseagreen;

}


