.contenedor{
    position: relative;
    margin: 0px auto;
    width: 250px;
    height: 600px;
    background-color: aquamarine;
    border: gray 1px solid;
    display: flex;
    flex-direction: row;

    text-align: center;
    justify-content: center;
    align-items: center;
}
.contenedor.contenedor-uno{
    overflow: hidden;

}
    .contenedor p{
        z-index: 10;
        font-size: 30px;
    }

.contenido{
    z-index: 1;
    position: absolute;
    background-color:blue;
    width: 50px;
    height: 50px;
    border: black 1px dashed;
    transition: transform 0.6s ease;

}




.contenedor:hover .contenido:nth-child(1) {
    transform: translate(0px, -300px);
}


.contenedor:hover .contenido:nth-child(2) {
    transform: translate(0px, 300px);
}

.contenedor:hover .contenido:nth-child(3) {
    transform: translate(300px, 0px);
}