
*{

	font-family: 'The Nautigal', cursive;
	font-weight: 100;
	font-size: 25px;
	padding: 0;
	margin: 0;
}

body{
	margin: 0;
	padding: 0;
}




.contenedor {
	margin: 50px auto;
	width: 60%;
	background-color: grey;
	border: 4px solid red;
	padding:6px;
}


		.contenedor img{
			float: left;
			width: 300px;
			margin-right: 5px;
			margin-bottom: 5px;
		}


		.contenedor h1{
			margin: 5px;
			text-align: center;
		}