
*{

	font-family: 'Luxurious Roman', cursive;
	font-weight: 100;
	font-size: 25px;
	padding: 0;
	margin: 0;
}



.caja1{
	width: 300px;
	height: 300px;
	background-color: lightblue;
	border: 5px dashed  blue; 
	transition:  width 0.5s, height 0.5s, background-color 2s,  border 3s;

}


.caja1:hover {
	width: 600px;
	height: 600px;
	background-color: purple;
	border: 10px solid  blue; 
}







.caja2 {
	padding: 10px;
	background: gray;
}

		.caja2 a{
			margin:5px;
		}

		.caja2 a:link{
			color:red;
		}

		.caja2 a:visited{
			color:white;
		} 







.caja3{
	height: 30px;
	background: red;
	border: 2px solid black;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
	transition: height 1.5s;
}

.caja3:active{
	background: blue;
	height: 60px;

}


































