body, html{

	margin: 0px;
	padding: 0px;
	background: url("../Imagenes/Fondo.jpg");
	font-family: arial;
}





#wrapper{
	width: 1000px;
	margin: auto;	
	background: #171d22;
	padding: 15px;
	box-shadow: 0px 15px 25px rgba(0,0,0,10);
	border-radius: 0px 0px 15px 15px;
}








header img{
	float: left;


}




h1, h2{
	margin: 0px;
	padding: 0px;
	color: #900000;
}

h2{
	font-weight: normal;
	font-size: 18px;
	left: 220px;

}



nav ul a{
	text-decoration: none;
}


li{

	display:inline;
	padding: 3px;
	margin: -1px;
	color: #900000;

}

#contenido {
	background: white;
	padding: 10px;
	overflow: hidden;
}

#item{
	float:left;
	padding: 10px;

}

#pieprincipal {
	color: #900000;


}





