
/*ESTE NO ME GUSTA*/
.contenedor{
  width: 100vw;
  height: 50vh;
  background-color: aquamarine;

  padding-top: 1px;
}

.caja-1{
  margin-top: 20px;
  width: 100%;
  height: 200px;
  background: #4f46e5;
  border-radius: 60% 40% 70% 30% / 40% 60% 30% 70%;
}




/*TAMPOCO SIRVE*/
.contenedor-2{
  width: 100vw;
  height: 50vh;
  background-color: tomato;

  padding-top: 1px;
}
  .contenedor-2 .caja-2{
    width: 100vw;
    height: 200px;
    background: #22c55e;
    clip-path: polygon(
      0% 10%, 10% 0%, 30% 5%, 50% 0%,
      70% 10%, 90% 0%, 100% 10%,
      100% 90%, 90% 100%, 70% 95%,
      50% 100%, 30% 95%, 10% 100%, 0% 90%
    );
  }




/*NO SIRVE PARA NADA*/
.contenedor-3{
  width: 100vw;
  height: 50vh;
  background-color: antiquewhite;

  padding-top: 1px;
}
.caja-3 {
  margin-top: 20px;
  width: 300px;
  height: 200px;
  background: #f97316;
  clip-path: path(
    "M0,40 
     Q75,0 150,40 
     T300,40 
     L300,200 
     L0,200 Z"
  );
}
