@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #9a4b7b;
  --primary-color-dark: #782a59;
  --text-dark: #333333;
  --white: #ffffff;
  --max-width: 1200px;
}

/*ESTILOS POR DEFECTO-------------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}
/*FIN ESTILOS POR DEFECTO-------------------------------------------------------------------------*/


/*BARRA SUPERIOR----------------------------------------------------------------------------------*/
nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}
    .nav__header {
        padding: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--primary-color);
    }
        .nav__logo a img {
            max-width: 100px;
        }
        .nav__logo .logo-dark {
        display: none;
        }
        .nav__menu__btn {
            font-size: 1.5rem;
            color: var(--white);
            cursor: pointer;
        }

    .nav__links {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        background-color: var(--primary-color);
        transition: transform 0.5s;
        z-index: -1;
    }
    .nav__links.open {
        transform: translateY(100%);
    }
        .nav__links a {
            font-weight: 500;
            color: var(--white);
            white-space: nowrap;
        }

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a img {
    max-width: 125px;
  }

  .nav__logo .logo-dark {
    display: flex;
  }

  .nav__logo .logo-white {
    display: none;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav__links a {
    font-weight: 600;
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }
}
/*FIN BARRA SUPERIOR---------------------------------------------------------------------------*/



/*CABECERA----------------------------------------------------------------------------------------*/