
*{
	padding: 0px;
	margin: 0px;
}

.contact-form{
	font-size: 15px;/*DEFINIMOS EL VALOR POR DEFECTO DEL EM HIJO*/
	background-color: gray;
}



.contact-form__h2{
	/*line-height: 5;			/*No afecta el tamaño de la letra solo el tamañp vertical de la seleccion*/

	font-size: 3em;
	font-family: 'The Nautigal', cursive;
	font-weight: 900;
}


