
.contenedor{
    background: #86f;
    padding: 10px 5px;
}


.contenedor .caja{
    position: relative;
    left: 0%;
    height: 100px;
    width: 100px;
    margin: 20px;

    background: #025;
    transition-property: left, background;
    transition-duration: 2s, 5s;
}

.contenedor:hover > .caja{
    left: 80%;
    background: aqua;
}

.contenedor .caja:nth-child(1){
    transition-timing-function: linear;
}

.contenedor .caja:nth-child(2){
    transition-timing-function: ease;
}

.contenedor .caja:nth-child(3){
    transition-timing-function: ease-in;
}

.contenedor .caja:nth-child(4){
    transition-timing-function: ease-out;
}


.contenedor .caja:nth-child(5){
    transition-timing-function: ease-in-out;
}
