body{
    background-color: antiquewhite;
    padding: 0px;
}

main{
    background-color: tomato;
    margin: 0px;
    padding-top: 10px;
}

.contenedor{
    width: 1000px;

    margin: 0px auto;
    background-color: pink;

    display: flex;
    flex-direction: row;
}
    .contenido{
        flex: 1;

        background-color: blanchedalmond;
        border: 2px solid grey
    }

    .contenido--1{
        display: flex;
        flex-direction: column;
    }
        .contenido--1 > div{
            border: 2px dashed black;
        }
    .contenido--2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .contenido--2 > div{

                border: 2px dashed black;

        }
