/*=====================GOOGLE FONTS=====================*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');



/*ESTILOS PRINCIPALES------------------------------------------------*/
:root{
    --color-principal:#1f2022;
    --color-secundario:#f5fbfe;
    --color-detalle:#eff5f9;
    --color-barra:#1f2022;
    --color-barra-desplegable:#bfc4c7;
    --color-contenido:#f5fbfe;
    

    --tamanio-barra-principal:80px;
    --tamanio-barra-desplegable--activa:250px;
    --tamanio--barra-plegada:10px;


    --transition-1: 0.5s;
    --transicion--navigation: 0.5s;
    --transicion--main:0.5s;
    --transition-2: width 0.5s ease-in-out;

    --pruebas:pink;
}

*{
    font-family: "Ubuntu",sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /*
    //ESTO DA ERROR
    min-height: 100vh;
    min-width: 100vw;
    */

    width: 100vw;
    height: 100vh;
}



















/*BARRA LATERAL---------------------------------------------------------------------------------------*/
.contenedorBarra{
    z-index: 2;
}

.contenedorBarra .barraLateral{
    z-index: 3;
    position: fixed;
    left: 0px;
    top: 0px;

    width: var(--tamanio-barra-principal);
    height: 100%;

    background-color: var(--color-principal);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


    /*BARRA LATERAL CABECERA-----------------------------------------------------*/
    .contenedorBarra .barraLateral header{
        position: relative;
    }
        .contenedorBarra .barraLateral header .cabeceraImagen{
            position: relative;

            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
            .contenedorBarra .barraLateral header .cabeceraImagen img{
                width: 80%;
                height: 100%;

                border-radius: 6px;
            }


    /*BARRA LATERAL LISTADO------------------------------------------------------*/
    .contenedorBarra .barraLateral ul{
        z-index: 6;
        position: relative;

        width: 100%;
        height: 80%;

        display: flex;
        flex-direction: column;
    }
        .contenedorBarra .barraLateral ul li{
            z-index: 10;
            position: relative;
            top:0;
            left:0;
            
            width: var(--tamanio-barra-principal);
            height: var(--tamanio-barra-principal);               /*PARA QUE CADA <LI> SEA CUADRADO*/

            list-style: none;
            /*box-sizing: border-box;
            border: 1px dotted black;*/

        }
            .contenedorBarra .barraLateral ul li a{
                position: relative;
                width: 100%;
                height: 100%;

                text-decoration: none;                
            }
                .contenedorBarra .barraLateral ul li a .icon{

                    position: relative;
                    min-width: 80px;
                    height: 80px;

                    transition: var(--transition-1);
                    color:var(--color-secundario);
                    display: block;
                    text-align: center;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
                    .contenedorBarra .barraLateral ul li a .icon ion-icon{
                        font-size: 1.75rem;
                    }


        .contenedorBarra .barraLateral ul .Gracia{
            z-index: 5;
            position: absolute;
            top: 0%;
            left: 90%;
                
            width: calc(var(--tamanio-barra-principal) * 0.10);
            height: 80px;
                    
            transition: var(--transition-1);
            background-color: var(--color-barra-desplegable);
            border-radius: 15px 0% 0% 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }  
        /*CUANDO SE COLOCA EL MOUSE ENCIMA*/
        .contenedorBarra .barraLateral ul li:nth-child(1):hover ~ .Gracia{
            transform:translateY(calc(80px * 0))!important;
        }       
        .contenedorBarra .barraLateral ul li:nth-child(2):hover ~ .Gracia{
            transform:translateY(calc(80px * 1)) !important;
        }
        .contenedorBarra .barraLateral ul li:nth-child(3):hover ~ .Gracia{
            transform:translateY(calc(80px * 2))!important;
        }
        .contenedorBarra .barraLateral ul li:nth-child(4):hover ~ .Gracia{
            transform:translateY(calc(80px * 3))!important;
        }        
        .contenedorBarra .barraLateral ul li:nth-child(5):hover ~ .Gracia{
            transform:translateY(calc(80px * 4))!important;
        }        
        .contenedorBarra .barraLateral ul li:nth-child(6):hover ~ .Gracia{
            transform:translateY(calc(80px * 5))!important;
        }

        /*CUANDO SE PRESIONA LA ETIQUETA Y SE OBTIENE LA CLASE .activa*/
        .contenedorBarra .barraLateral ul li:nth-child(1).activa ~ .Gracia{
            transform:translateY(calc(80px * 0));
        }  
        .contenedorBarra .barraLateral ul li:nth-child(2).activa ~ .Gracia{
            transform:translateY(calc(80px * 1));
        }
        .contenedorBarra .barraLateral ul li:nth-child(3).activa ~ .Gracia{
            transform:translateY(calc(80px * 2));
        }
        .contenedorBarra .barraLateral ul li:nth-child(4).activa ~ .Gracia{
            transform:translateY(calc(80px * 3));
        }
        .contenedorBarra .barraLateral ul li:nth-child(5).activa ~ .Gracia{
            transform:translateY(calc(80px * 4));
        }
        .contenedorBarra .barraLateral ul li:nth-child(6).activa ~ .Gracia{
            transform:translateY(calc(80px * 5));
        }
    









    /*BARRA LATERAL BARRA DESPLEGABLE---------------------------------------------------------------------------------------*/
    .contenedorBarra .barraLateral ul .barraPlegable{
        z-index: 4;
        position: fixed;
        top:0px;
        left: var(--tamanio-barra-principal);


        width: var(--tamanio--barra-plegada);
        height: 100%;
        transition: var(--transicion--navigation);
        
        overflow: hidden;
        background-color: var(--color-barra-desplegable);
    }
        .barraPlegable > *{
            display: none;
        }
        .contenedorBarra .barraLateral ul .barraPlegable.activa {
            width: var(--tamanio-barra-desplegable--activa);
        }
        .contenedorBarra .barraLateral ul .barraPlegable.activa > *{
            display: block;
        }
        .contenedorBarra .barraLateral ul .barraPlegable .opciones{
                position: absolute;
            
                width: 100%;
                height: 100%;
                transition: var(--transition-2);
            

                overflow: hidden;
                opacity: 0%;

        }

        .contenedorBarra .barraLateral ul li:nth-child(1).activa ~ .barraPlegable .opcionesUno{
            opacity: 100%;
        }
        
        .contenedorBarra .barraLateral ul li:nth-child(2).activa ~ .barraPlegable .opcionesDos{
                opacity: 100%;
        }  

            .contenedorBarra .barraLateral ul .barraPlegable .opciones ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }




















/*CONTENIDO PRINCIPAL---------------------------------------------------------------------------------------*/
.contenedorContenidoPrincipal{
    z-index: 1;
    position: relative;
    left: calc(  var(--tamanio-barra-principal) + var(--tamanio-barra-desplegable--activa));
    top: 0px;

    width: calc(100% -  var(--tamanio-barra-principal) - var(--tamanio-barra-desplegable--activa));/**/
    height: 100%;
    transition: var(--transicion--navigation);

    overflow-y: scroll;
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 10px;
}

.contenedorContenidoPrincipal.activa{
    left: calc(  var(--tamanio-barra-principal) + var(--tamanio--barra-plegada));
    width: calc(100% -  var(--tamanio-barra-principal) - var(--tamanio--barra-plegada));

}


    .contenedorContenidoPrincipal .contenidoPrincipal{
        width: 90%;
    }
/*

    /*BOTON TOGGLE--------------------*/
    .toggle{
        position: absolute;
        top: 10px;
        left: 10px;


        width: 60px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        cursor: pointer;
    }




/* Top nav (oculta por defecto) ---------------------------------------------------------------------------------------*/
.topnav {
  display: none;
  width: 100;
  background-color: #333;
  color: white;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.topnav nav a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}






nav {
display: none;

  background-color: #333;
  padding: 1rem;
}

nav button {
  color: white;
  background: none;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
}











/* Responsive: Oculta sidebar y muestra topnav */
@media (max-width: 700px) {
  .contenedorBarra{
        position: relative;
        top: 0px;
        left: 0px;

        width: 0% !important;
        height: 0% !important;

        display: none;
    }
    .barraLateral{
        position: static !important;
        top: 0px !important;
        left: 0px !important;

        width: 0% !important;
        height: 0% !important;

        display: none;

    }

   nav {
    position: fixed;
        display: flex;
        width: 100%;
    }


    body{
        overflow-x: hidden;
    }
        .contenedorContenidoPrincipal {
            position: static !important;
            top: 30px !important;
            left: 0px !important;

            width: 100% !important;
            height: 100% !important;
            
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;        
            margin: 0px auto;

        }
            .contenedorContenidoPrincipal .contenidoPrincipal{
                width: 80%;
            }

            .toggle{
                display: none;
            }


}