
*{

	font-family: 'Luxurious Roman', cursive;
	font-weight: 100;
	font-size: 25px;
	padding: 0;
	margin: 0;
}





.caja_imagen1{
	width: 35vw;
	height: 80vh;
	margin: 50px auto;
	background-color: gray;
}


	.caja_imagen1 img{
		width: 100%;
		height: 100%;
		border: 5px solid black;
		object-fit: contain;
	}




.caja_imagen2{
	width: 35vw;
	height: 80vh;
	margin: 50px auto;
	background-color: gray;
}



	.caja_imagen2 img{
		width: 100%;
		height: 100%;
		border: 5px solid black;
		object-fit: cover;
	}


.caja_imagen3{
	width: 35vw;
	height: 80vh;
	margin: 50px auto;
	background-color: gray;
}



	.caja_imagen3 img{
		width: 100%;
		height: 100%;
		border: 5px solid black;
		object-fit: none;
	}

.caja_imagen4{
	width: 35vw;
	height: 90vh;
	margin: 50px auto;
	background-color: gray;
}



	.caja_imagen4 img{
		width: 100%;
		height: 100%;
		border: 5px solid black;
		object-fit: scale-down;

	}




.galeria{
	display: flex;
	height: 250px;
	background-color: grey;
}

	.galeria div{
		flex: 1;
		display: flex;
		margin: 4px;
		border: 1px solid red;
	}

	.galeria div img{
		object-fit: cover;
	}







