
*{

	font-family: 'The Nautigal', cursive;
	font-weight: 100;
	font-size: 25px;
	padding: 0;
	margin: 0;
}



.texto::first-line{
	color:blue;
}


.texto::first-letter{
	font-size:100px;
}





form{
	margin:100px;
	display: block;
	border:1px solid black;
	padding: 2px;
}