*{
	margin: 0;
	padding: 0;
}

.contenedor_principal{
	background-color: orange;
	border: 10px solid red;
	width: 40vw;
	height: 600px;
	margin: 50px auto;
	position: relative;

}

.caja{
	background-color: blue;
	width: 100px;
	height: 100px;
	border: 5px solid gray;
	box-sizing: border-box;
	position: absolute;
	text-align: center;
}

.caja.primera{
	background-color: darkgrey;
	left: 100%;
	border: none;
}


.caja.segunda{
	background-color: purple;
	top: 100%;
	border: none;
}

.caja.tercera{
	background-color: purple;
	top: 83%;
	left: 75%;
	border: none;
}


