*{
	color:blue;
}

* p{
	color:red;
}

h2{
	color:orange;
}


.subtitulo {
	color:grey;
}


[miatributo="mio"]{
	background: blue;
	color: white;
}


h1 p{
	background: grey;
	color: blue;	
}

.sub-h1 p{
	background: red;
	color: grey;	
}

.parrafo:hover {
	background: black;
}