h1 {
  color:#c00;
  font-family:sans-serif;
  font-size:2em;
  margin-bottom:0;
}

table {  
  font-family:sans-serif;
  th, td {
    padding:.25em .5em;
    text-align:left;
    &:nth-child(2) {
      text-align:right;
    }
  }



  td {
    background-color:#eee;    
  }
  th {
    background-color:#009;
    color:#fff;
  }
}

.zigzag {
  border-collapse:separate;
  border-spacing:.25em 1em;

}

  thead tr{
    background-color: lightblue;
    height: 30px;
  }

  tbody tr:nth-child(odd){
    background-color: blue;
    transition: 0.5s;

  }
  tbody tr:nth-child(even) {
    background-color: lightblue;
    transition: 0.5s;

  }


  .desacomodar tr:nth-child(odd){
    transform:rotate(2.2deg);
    transition: 0.5s;

  }
  .desacomodar tr:nth-child(even) {
    transform:rotate(-2.2deg);
    transition: 0.5s;

  }



  #tablaLoca{
    width: 65VW;
  }
