
*{
	padding: 0px;
	margin: 0px;
}

h2{
	background-color: red;
	padding: 10px 50px;
	width: 100px;
	height: 100px;
	box-sizing: border-box;					/*IGNORA EL PADDING*/


}


/*
.titulo2{
	background-color: blue;
	padding: 50px 200px 100px;
}
*/

