*{
    margin: 0px;
    padding: 0px;

    
}

body{}

.contendor-principal{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;


    padding-top: 200px;
    background-color: aquamarine;

}

.caja-barra{
    position: relative;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    
    background: gray;
    border: 10px solid darkcyan;

    display: flex;
    flex-direction: column;

}

.caja-cabecera{
    z-index: 2;

    width: 100%;
    height: 250px;
    box-sizing: border-box;

    background: aqua;
}

.caja-opciones{
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    border: 1px solid black;


    background-color: aliceblue;
    transform: translateY(100%);

}
.caja-opciones ul{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}